<component name="ArtifactManager">
  <artifact type="war" name="Spring_SpringMVC_Mybatis_Dubbo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring_SpringMVC_Mybatis_Dubbo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring_SpringMVC_Mybatis_Dubbo:war exploded" />
    </root>
  </artifact>
</component>